<div class='topic-blocks clearfix'>
  <% @topics.each do |topic| %>
      <div class='col-lg-3 col-md-4 col-sm-6'>
        <div class='block'>
          <div class="title row">
            <div class="topic-header">
              <h2>
                <a class="topic-title" data-id="<%= topic.id %>" title="Click to Vote"><%= truncate(topic.title, length: 35) %></a>
              </h2>

              <h4>
                <span><%= topic.category %></span>
              </h4>
              <div class="description"><%= truncate(topic.description, length: 212) %></div>

              <div class="speaker-list">
                <span><%= convert_array_to_string(topic.speakers) %></span>
              </div>
            </div>
          </div>
          <div>

            <% if topic.registerer.name == @current_user %>
                <div class="dropdown edit-topic">
                  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                  </div>
                  <ul class="dropdown-menu dropup">
                    <li>
                      <a href="/topics/<%= topic.id %>/edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="edit-text">Edit</span>
                      </a>
                    </li>
                    <li>
                      <a href="/topics/<%= topic.id %>" data-method="delete" data-confirm="Are You Sure">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="edit-text">Delete</span>
                      </a>
                    </li>
                  </ul>
                </div>
            <% end %>

            
          </div>
        </div>
      </div>
  <% end %>
</div>