<div class='modal fade form-modal' id='get_topic_details' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><%= @topic.title %>
          <span class="no-of-votes" id="no_of_votes"><%= @topic.voters.length %></span>
        </h2>
        <h4>
          <span><%= @topic.category %></span>
        </h4>
      </div>
      <div class="modal-body">

        <input type="hidden" id="topic_id" value="<%= @topic.id %>"/>

        <div class="alert alert-success"></div>
        <div class="alert alert-danger"></div>
        <div class="alert alert-info">
          <div class="loader">Please Wait</div>
        </div>

        <div class="row">
          <label class="col-lg-3 col-md-3 col-sm-3">Registered By:</label>

          <div class="col-lg-9 col-md-9 col-sm-9">
            <%= @topic.registerer.name %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3 col-md-3 col-sm-3">Speakers:</label>

          <div class="col-lg-9 col-md-9 col-sm-9" id="speakers_list">
            <span><%= convert_array_to_string(@topic.speakers) %></span>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3 col-md-3 col-sm-3">Description:</label>

          <div class="col-lg-9 col-md-9 col-sm-9">
            <%= @topic.description %>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </div>
</div>