<div class='topic-blocks clearfix'>
  <% @topics.each do |topic| %>
      <div class='col-lg-3 col-md-4 col-sm-6'>
        <div class='block'>
          <div class="title row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
              <h2>
                <a class="topic-title" data-id="<%= topic.id %>"><%= truncate(topic.title, length: 18) %></a>
              </h2>

              <h4>
                <span><%= topic.category %></span>
                <span class="no-of-votes"><%= topic.voters.length %></span>
              </h4>

              <div class="speaker-list">
                <label>Speakers</label>
                <span><%= convert_array_to_string(topic.speakers) %></span>
              </div>
            </div>
          </div>
          <div>
            <% if topic.registerer.name == @current_user %>
                <div class="dropdown edit-topic">
                  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="caret"></span>
                  </div>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/topics/<%= topic.id %>" data-method="delete" data-confirm="Are You Sure">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="edit-text">Delete</span>
                      </a>
                    </li>
                    <li>
                      <a class="edit-speakers" data-id="<%= topic.id %>">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="edit-text">Edit Speakers</span>
                      </a>
                    </li>
                  </ul>
                </div>
            <% end %>

            <div class="description"><%= truncate(topic.description, length: 190) %></div>
          </div>
        </div>
      </div>
  <% end %>
</div>