<div class='modal fade' id='get_topic_details' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Topic Details</h4>
      </div>
      <div class="modal-body">

        <input type="hidden" id="topic_id" value="<%= @topic.id %>"/>

        <div class="alert alert-success"></div>
        <div class="alert alert-danger"></div>

        <div class="row">
          <div class="pull-right">
            <span id="no_of_votes"><%= @topic.voters.length %></span>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">Title:</label>

          <div class="col-lg-9">
            <%= @topic.title %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">Speakers:</label>

          <div class="col-lg-9" id="speakers_list">
            <% @topic.speakers.each do |speaker| %>
                <span><%= speaker.name %></span>,
            <% end %>
          </div>
        </div>

        <div class="row">
          <label class="col-lg-3">Description:</label>

          <div class="col-lg-9">
            <%= @topic.description %>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="vote">Vote</button>
        <button type="button" class="btn btn-primary" id="contribute">Contribute as a Speaker</button>
      </div>
    </div>
  </div>
</div>