<table border="1">
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Description</th>
    <th>Registerer</th>
    <th>Speakers</th>
    <th>Voted By</th>
    <th>No of Votes</th>
  </tr>
  <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.category %></td>
        <td><%= topic.description %></td>
        <td><%= topic.registerer.name %></td>
        <td><%= convert_array_to_string(topic.speakers) %></td>
        <td><%= convert_array_to_string(topic.voters.uniq) %></td>
        <td><%= topic.voters.uniq.length %></td>
      </tr>
  <% end %>
</table>