<!DOCTYPE html>
<html>
<head>
  <title>XconfApp</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div id="header" class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-2 col-md-6 col-sm-7">
      <h1 id="app_title">XConf Gurgaon 2014</h1>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5">
    <span class="pull-right" id="username">
        <span id="name">Welcome, <%= session[:cas_user] %></span> |
        <a id="logout" href="/login/logout">Logout</a>
    </span>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>
</div>
<div class='row'>
  <div id="footer">Copyright &copy 2013, <a href="http://www.thoughtworks.com">ThoughtWorks</a>, Inc. All rights
    reserved.
  </div>
</div>
</body>
</html>
