<!DOCTYPE html>
<html>
<head>
  <title>XconfApp</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div id="header" class="row">
    <h1 class="col-lg-8" id="title">XConf Gurgaon 2014</h1>

    <div class="col-lg-4">
    <span class="pull-right" id="username">
        <span id="name">Welcome, <%= session[:cas_user] %></span> |
        <a id="logout" href="/login/logout">Logout</a>
    </span>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>
</div>

</body>
</html>
