<!DOCTYPE html>
<html>
<head>
  <title>XconfApp</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div>
      <%= session[:cas_user] %>
    </div>

<%= yield %>

</body>
</html>
